.search-form {
  margin: 10px 5px 5px 5px;
  display: flex;
  justify-content: center;
}

h2 {
  text-align: center;
}

.hero-container {
  display: flex;
  justify-content: center;
  margin: 5px 0 5px 0;
}

.hero {
  width: 50%;
  border-radius: 8px;
}

.weather-card {
  display: flex;
  flex-direction: column;
  width: 25%;
  align-items: center;
  margin: 10px auto 0px auto;
  padding-bottom: 5px;
  border: 2px solid grey;
  border-radius: 8px;
}

.error {
  color: red;
  text-align: center;
}

.container-favorites {
  display: flex;
  flex-wrap: wrap;
  gap: 8px;
}

